@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background-color: #E8E6E5;
    /*display: flex;*/
    /*flex-direction: column;*/
}

header {
    border-bottom: solid #181410;
    border-width: 2px;
    background-color: #51829B;
    padding: 3vh 0px;
    width: 100%;
}

h1 {
    font-size: 2.5rem;
    margin-top: 50px;
    text-align: center;
}

#book-gallery {
    max-width: 1200px;
    margin: 0 auto 1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    justify-items: center;
}

.book-box {
    margin: 5px;
    width: 180px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.5);
    border: 5px solid #9BB0C1;
    border-radius: 10px;
    cursor: pointer;
    transform-origin: center;
}

.book-box:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}

/*BOOK-BOX CONTENT*/
.book-box h2 {
    margin: 20px 20px;
    font-size: 1.2rem;
    text-align: center;
}

.book-box img {
    width: 75%;
}

.book-box button, #modal-content button {
    width: 80%;
    cursor: pointer;
    padding: 10px 0px;
    margin: 15px 20px;
    color: #F9F8F0;
    background-color: #8C6359;

    border: solid #8C6359;
    border-width: 2px;
    border-radius: 5px;
    text-align: center;

    transition: all 0.2s ease-out;
}

button:hover {
    border-color: #E8E6E5;
    background-color: #E8E6E5;
    color: #181410;
}

/*MODAL*/
.modal {
    opacity: 0;
    transition: all 0.7s ease;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border: none;
    border-radius: 16px;
    padding: 0px;
    box-shadow: 0 16px 22px 0 rgba(0, 0, 0, 0.6);
}

.modal[open] {
    opacity: 1;
    transition-delay: 0s;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

#modal-content h2 {
    margin: 0;
    padding: 20px;
    background-color: #9BB0C1;
    color: white;
    text-transform: capitalize;
}

#modal-content img {
    width: 300px;
    margin: 7px;
}

#modal-content p {
    margin-left: 10px;
}

#modal-close {
    position: absolute;
    top: 5px;
    right: 5px;
    outline: none;
    appearance: none;
    color: goldenrod;
    background: none;
    border: 0;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
}


